@media only screen and (max-width: 767px) {
    .caption-container {
        background-color: #545a5b;
        opacity: 80%;
        height: 70px;
    }

    .go-to-bottom:after {
        position: absolute;
        top: 900%;
        left: 45%;
    }

    .overlay {
        background: #545a5b;
    }

    header {
        background-image: url("../images/about_bg_mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }

    .navBurger span {
        display: none;
    }

    .container {
        margin-right: 33px;
        margin-left: 33px;
    }

    .blog-right-container {
        width: 100%;
    }

    .blog-left-container {
        width: 100%;
        padding-right: 33px;
        padding-left: 33px;
    }

    .services-desc {
        padding-bottom: 174px;
    }

    .address-footer-desc {
        font-size: 13px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 375px) {

    footer {
        padding: 21px 0;
    }

    .address-footer-desc {
        font-size: 10px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}