header {
    background-image: url("../images/blog_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.blog-section {
    margin: auto;
    max-width: 1152px;
}

.main-container {
    background-color: #f9f9f9;
    margin: 78px 0;
    padding-top: 64px;
    padding-bottom: 64px;
}

.post-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1018px;
}

.post-item-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-of-post {
    background-color: #ffffff;
    padding: 32px 0;
    margin-bottom: 57px;
}

.post-img {
    padding: 0 32px;
}

.title-of-post-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #021725;
    padding-top: 34px;
    padding-bottom: 28px;
    padding-left: 32px;
}

.date-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #d3b000;
    padding-bottom: 36px;
    padding-left: 32px;
}

.post-text {
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 16px;
    color: #021725;
    line-height: 25px;
    padding-bottom: 72px;
    padding-left: 32px;
}

.read-more-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #021725;
    border: 1px solid #000000;
    max-width: 191px;
    padding: 18px 0;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-left: 32px;
}

.post-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
    color: #021725;
}

.post-desc:after {
    content: "";
    display: block;
    background-color: #d3b000;
    width: 297px;
    height: 3px;
    margin-top: 18px;
    margin-bottom: 38px;
}

ul {
    list-style-type: none;
    padding-bottom: 60px;
}

.list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    color: #021725;
    text-decoration: none;
    line-height: 24px;
}

.project-flex-container {
    display: flex;
    flex-direction: column
}

.project-img {
    margin-bottom: 3px;
}
