@media only screen and (max-width: 767px) {
    header{
        background-image: none;
        height: 0;
    }

    .caption-container {
        background-color: #545a5b;
        opacity: 80%;
        height: 70px;
    }

    .overlay {
        background: #545a5b;
    }

    .navBurger span {
        display: none;
    }

    .main-container {
        margin-right: 33px;
        margin-left: 33px;
        margin-top: 0;
    }

    .post-img {
        width: 100%;
    }

    .post-flex-container {
        padding-bottom: 63px;
    }

    .project-flex-container {
        width: 100%;
    }

    .project-img {
        width: 100%;
    }

    .post-desc:after {
        width: 100%;
    }

    .recent-posts {
        margin-right: 33px;
        margin-left: 33px;
    }

    .title-of-post {
        padding-top: 98px;
    }

    .footer-flex-container {
        margin-right: 33px;
        margin-left: 33px;
    }

    .address-footer-desc {
        font-size: 13px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 375px) {

    footer {
        padding: 21px 0;
    }

    .address-footer-desc {
        font-size: 10px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {}